@import url('https://fonts.googleapis.com/css2?family=Megrim&family=Oswald:wght@300&family=Rajdhani&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

#main-container {
    width: 100%;
    height: 100vh;
    display: flex;
}

#nav1
{
    width: 100%;
    height: 11vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(20, 20, 20, 0.295);
}

#nav1 h1 {
    font-size: 2.5vw;
    font-family: 'Megrim', sans-serif;
    color: white;
    padding-left: 1vw;

}

#nav1 a {
    text-decoration: none;
    font-size: 1.2vw;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    background-color: rgba(255, 255, 255, 0);
    transition: all 0.25s ease-in-out;
    padding: 0vw 1vw 0vw 1vw;
    border-radius: 0%;
}

#nav1 a:hover,
#nav2 h5:hover {
    background-color: rgb(173, 12, 12);
    color: white;
    border-radius: 7%;
}


#main-container img {
    width: 100%;
    height: 100vh;
    filter: blur(0.75px);
    position: absolute;
    top: 0;
}


#main-container h2 {
    position: absolute;
    font-size: 2vw;
    font-family: 'Rajdhani', sans-serif;
    top: 30%;
    color: rgb(255, 255, 255);
    left: 43%;
    font-weight: 400;
}

#main-container h3 {
    position: absolute;
    font-size: 2vw;
    font-family: 'Rajdhani', sans-serif;
    top: 60%;
    color: rgb(231, 231, 231);
    left: 34%;
    font-weight: 400;
}

#social-link-container {
    position: absolute;
    width: 100%;
    height: 10vh;
    bottom: 10%;
    display: flex;
    justify-content: space-evenly;
}

#social-link-container:first-child,
#social-link-container:last-child {
    width: 100%;
    height: 10vh;
}

#social-link-container:first-child i,
#social-link-container:last-child i {
    font-size: 5vw;
    color: white;
    transition: color 0.3s ease-in-out;
}

#social-link-container:first-child i:hover,
#social-link-container:last-child i:hover {
    color: rgba(0, 0, 0, 0.575);
}



#left-icon {
    margin-right: 3vw;
}

#right-icon {
    margin-left: 4vw;
}

/* Typing Effect Code */


#container {
    position: absolute;
    top: 40%;
    left: 12.6%;
}

#text {
    font-size: 5vw;
    width: 100%;
    text-align: center;
    color: rgba(255, 255, 255, 0.884);
    font-weight: 900;
    font-family: 'Megrim', cursive;
}

#text::after {
    content: "|";
    background-color: var(--backgroundColor, rgb(255, 255, 255));
    color: var(--color, rgba(0, 0, 0, 0));
    border-radius: 20px 0px 20px 0px;
    animation: fluctuating 0.5s ease-in-out infinite;
}

@keyframes fluctuating {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

/* Heading Section*/

#head-section {
    font-size: 8vw !important;
    font-family: 'Megrim', cursive !important;
    text-align: center !important;
    background-color: rgba(255, 255, 255, 0) !important;
    transition: all 0.3s ease-in-out !important;
    color: black !important;
    width: 80% !important;
    margin: auto;
}

#head-section:hover {
    background-color: rgb(173, 12, 12) !important;
    color: white !important;
}

/* About Container */

.other-container {
    width: 100%;
    height: auto;
}

#about {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}


#about h1 {
    font-size: 1.5vw;
    font-family: 'Rajdhani', sans-serif;
    color: rgb(173, 12, 12);
    font-weight: 900;
    width: 60%;
}

#about a {
    margin: auto;
}

#about a i {
    font-size: 5vw;
    color: black;
    transition: all 0.4s ease-in-out;
    transform: translateY(0vw);
    transform: translateX(0vw);
}

#about a i:hover {
    transform: translateX(-0.5vw);
    transform: translateY(-0.5vw);
}

#about div {
    width: 30%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

#about div img {
    margin-top: 5vw;
    width: 20vw;
    height: 200vw;
    /* clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%); */
    transform: skewX(-10deg);
    object-fit: cover;
    transition: all 0.5s ease-in-out;
    box-shadow: rgb(0, 0, 0) 0px 5px 15px;
}


#about div div {
    width: 50%;
    /* display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-right: 7vw;

}

#about div div i {
    font-size: 2.5vw;
    color: black;
    transition: all 0.2s ease-in-out;
    transform: skewX(10deg);
}

#about div div i:hover {
    transform: skewX(-10deg);
    color: rgb(173, 12, 12);
}

/* Skills section */

#skills {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#skills h1 {
    font-size: 2.7vw;
    font-family: 'Syne', sans-serif;
    align-self: baseline;
    color: rgb(173, 12, 12);
    margin-left: 1.5vw;
}

#skills li {
    font-size: 1.4vw;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 800;
    padding-top: 0.5vw;
    letter-spacing: 0.2vw;
}

#skills div {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.skills-icon {
    width: 10vw;
    height: 12vw;
    object-fit: contain;
    filter: grayscale(80%);
    transition: all 0.4s ease-in-out;
}

.skills-icon:hover {
    filter: grayscale(0%);
}

il {
    list-style-type: disc;
    font-family: 'Rajdhani', sans-serif;
}

/* Work Space Section */

#work-space {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
}

.work-sample {
    width: 40%;
    height: 35vw;
}


.work-sample img {
    width: 35vw;
    height: 20vw;
    border-top-left-radius: 5%;
    border-bottom-right-radius: 5%;
    border-top-right-radius: 2%;
    border-bottom-left-radius: 2%;
    border: 1px solid rgb(165, 165, 165);
    filter: blur(1px);
    transition: all 0.5s ease-in-out;
    box-shadow: rgb(0, 0, 0) 0px 3px 8px;
}

.work-sample img:hover {
    filter: blur(0px);
}

.work-sample h2 {
    font-size: 1.5vw;
    margin-top: 0.3vw;
    font-family: 'Rajdhani', sans-serif;
}

/* Contact Section */

#contact {
    overflow: hidden;
}

form {
    width: 99%;
    height: 78vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: auto;
}

form div {
    width: 55%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form div input,
form div button {
    margin-top: 5vw;
    font-size: 1.5vw;
}


form div input {
    border: 0px;
    border-bottom: 1px solid rgb(173, 12, 12);
    width: 25vw;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 900;
    height: 5vw;
    text-align: left;
    letter-spacing: 0.2vw;
    transition: all 0.3s ease-in-out;
}

form div input:active {
    width: 35vw;
}

form div button,
#footer-sub-container2 button {
    width: 15vw;
    height: 3vw;
    font-family: 'Rajdhani', sans-serif;
    text-align: center;
    background-color: rgb(245, 236, 236);
    color: rgb(173, 12, 12);
    border: none;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}

form div button:hover {
    background-color: rgb(173, 12, 12);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
}

#footer-sub-container2 button:hover {
    background-color: rgb(173, 12, 12);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);

}

form div input:focus,
form div button:focus {
    outline: none;
}

form img {
    object-fit: contain;
    width: 30vw;
    height: 100vh;
    border-top-left-radius: 15vw;
    border-bottom-right-radius: 15vw;
}

/* Footer Container */

#footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 40vh;
    background-color: rgba(0, 0, 0, 0.945);
}

#footer-sub-container1 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#footer-sub-container1 div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20vh;
    transition: all 0.3s ease-in-out;
}


#footer-sub-container1 div i {
    text-align: center;
    font-size: 3vw;
    color: white;
}

#footer-sub-container1 div h2 {
    font-size: 1.5vw;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    color: rgb(173, 12, 12);
    letter-spacing: 3px;
}

#footer-sub-container1 div p {
    font-size: 1.2vw;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    color: white;
}

#footer-sub-container2 {
    width: 95%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#footer-sub-container2 p {
    font-size: 1.2vw;
    font-family: 'Rajdhani', sans-serif;
    color: white;
}

@media screen and (max-width:884px) {

    #head-section{
        font-size: 9vw !important;
    }

/* Home Section */
    #nav1{
        height: 6vh;
    }

    #nav1 h1{
        font-size: 4vw;
    }

    #nav1 a{
        font-size: 2.2vw;
    }

    #main-container{
        height: 50vh;
    }

    #main-container img{
        height: 50vh;
    }

    #main-container h2{
        top: 15%;
        left: 38%;
        font-size: 3.5vw;
    }

    #container{
        top: 22%;
        left: 12%;
        font-size: 7vw;
    }

    #main-container h3{
        top: 30%;   
        left: 28%;
        font-size: 2.7vw;
    }

    #social-link-container{
        top: 40%;
    }

    #social-link-container div i {
        font-size: 10em;
    }
    /* About Section */

    .about-head {
        margin-bottom: 3vw !important;
    }

    #about h1:not(:first-child) {
        width: 100%;
        font-size: 3vw;
        margin: 0vw 2vw 0vw 2vw;
    }

    #about div {
        width: 100%;
        margin-top: 1vw;
        height: 65vh;
        justify-content: space-evenly;
    }

    #about div div{
        height: 52vw;
    }

    #about div img {
        width: 60vw;
        height: 100vh;
    }

    #about div div i {
        font-size: 6vw;
        margin-bottom: 10vw;
    }

    /* SKills Section */

    #skills {
        height: 70vh;
        justify-content: space-around;
    }


    #skills h1 {
        font-size: 5vw;
    }

    #skills div {
        flex-wrap: wrap;
        height: 50vw;

    }

    .skills-icon {
        width: 21vw;
        height: 21vw;
    }

    #skills li {
        font-size: 3.8vw;
    }

    /* Workspace Section*/

    .workspace {
        margin-top: 10vw !important;
    }    

    .work-sample img {
        width: 39vw;
        height: 25vw;
    }

    .work-sample h2{
        font-size: 2.5vw;
        font-weight: 900;
        margin-top: 1vw;
    }

    /* Contact Section */

    form{
        height: 35vh;
    }

    form div{
        width: 50%;
    }

    form div input{
        font-size: 3vw;
    }

    form div button{
        width: 25vw;
        height: 5vw;
        font-size: 3vw;
    }

    /* Footer section */
    #footer{
        height: 25vh;
    }

    #footer-sub-container1 div{
        height: 10vh;
    }

    #footer-sub-container1 div i{
        font-size: 7vw;
    }

    #footer-sub-container1 div h2{
        font-size: 2.5vw;
    }

    #footer-sub-container1 div p{
        font-size: 2vw;
    }

    #footer-sub-container2{
        height: 5vh;
    }

    #footer-sub-container2 p{
        font-size: 2.5vw;
    }

    #footer-sub-container2 button{
        width: 25vw;
        height: 5vw;

    }
}
